@import 'abstracts/variables';

@import 'layout/header';
@import 'layout/about';
@import 'layout/projects';
@import 'layout/contact';
@import 'layout/footer';
@import 'layout/skills';

@import 'ui/arrow';
@import 'ui/toggle';
@import 'ui/scrollbar';
@import 'ui/headings';
@import 'ui/containers';

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;

	--bg-accent: rgb(255, 255, 255);
	--bg-primary: rgb(238, 238, 238);
	--text: rgb(49, 49, 49);
	--decoration-primary: rgb(2, 94, 199);
	--decoration-accent: rgb(3, 82, 172);
}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
	background: var(--bg-accent);
	font-family: $font;
	color: var(--text);
	margin: 0;
}

// edit
html[data-theme='dark'] {
	--bg-primary: #181818;
	--bg-accent: #1b1b1b;
	--text: #f0f0f0;
	--decoration-primary: #2feba3;
	--decoration-accent: #399773;
}
