section {
	width: 100%;

	.skills {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 0;

		.skill {
			background: var(--bg-primary);
			list-style: none;
			box-shadow: 5px 5px 0 1px var(--decoration-primary);
			width: 165px;
			height: 58px;
			cursor: default;
			margin: 1em 2em;
			padding: 0.8em 1em;
			flex-basis: 1;
			transition: box-shadow 0.4s ease-in-out;
			display: flex;
			justify-content: space-between;
			align-items: center;

			&:hover {
				box-shadow: 5px 5px 0 1px var(--text);
			}

			.spring-io-32 {
				background-image: url('../images/springio.png');
				background-size: cover;
				display: inline-block;
				width: 32px;
				height: 32px;
			}
		}
	}
}

.devicon-typescript-plain {
	font-size: 2em;
}

.devicon-mongodb-plain {
	font-size: 2em;
}

.devicon-mysql-plain {
	font-size: 2em;
}
