@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Sacramento&display=swap');

// colors
// include as bg
$primary-color: rgb(27, 27, 27);
// include as header bg
$accent-color: rgb(24, 24, 24);

$font-color: rgb(240, 240, 240);

$decoration-color: rgb(47, 235, 163);
$decoration-color-hover: #399773;

// fonts
$font: 'Montserrat', sans-serif;
$font-logo: 'Sacramento', cursive;
